/*GENERAL*/
body {
    background: #f2f2f2;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #000;
    min-width: 980px;
    overflow: auto;
    height: auto;
}

#ajax-loader {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
}

#dialogMain {
    display: none;
}

.modal-open {
    overflow-y: no-display;
}

.nopadding {
    padding-left: 0;
    padding-right: 0;
}

.nopadding-left {
    padding-left: 5px;
}

.checked {
    background-color: #f0f0f0;
}

.validation-summary-errors ul {
    padding-left: 15px;
    list-style: none;
}
/*HEADER*/
.hitec-navbar {
    background: #365f91;
    border: none;
    border-radius: 0;
    margin-bottom: 1px;
}

.hitec-logo {
    border-right: 1px solid #fff;
    padding: 18px 0px;
    width: 205px;
}

    .hitec-logo img {
        width: 55%;
        margin-top: -10px;
    }

.hitec-title {
    background: #062F3C;
    padding: 1px;
}

    .hitec-title h1 {
        color: #fff;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        margin: 5px;
    }
/*SIDEBAR*/
.hitec-sidebar h5 {
    font-weight: bold;
    display: block;
    padding: 0 0 4px 0;
    color: #145072;
    margin-top: 0;
}

.hitec-sidebar p a:hover, .hitec-notification ul li a:hover {
    color: #871111;
    text-decoration: none;
}

.hitec-information, .hitec-general-function, .hitec-notification {
    margin-bottom: 20px;
    margin-right: 2px;
    border-radius: 2px;
}

    .hitec-information a, .hitec-general-function a, .hitec-notification a {
        color: #000;
    }

        .hitec-information a:hover, .hitec-general-function a:hover, .hitec-notification a:hover {
            text-decoration: none;
        }

    .hitec-information p, .hitec-general-function p, .hitec-notification p {
        margin: 0 0 5px 0;
        padding: 0 2px 0 0;
    }

        .hitec-information p img, .hitec-general-function p img, .hitec-notification p img {
            margin-right: 5px;
            width: 16px;
            height: 16px;
        }

    .hitec-notification ul {
        list-style-image: url('images/orther_news.gif');
        list-style-position: inside;
        padding-left: 0;
    }

        .hitec-notification ul li a span {
            color: #a6a6a6;
        }
/*CONTENT*/
.hitec-year {
    font-weight: bold;
    float: right;
    margin-right: 10px;
    margin-bottom: 2px;
    color: #AA4400;
}

.hitec-content {
    background: #fff;
    padding: 5px 10px;
    min-height: 700px;
    border: 1px solid #d9d9d9;
}

    .hitec-content p.hitec-info, .hitec-content h2 {
        border-bottom: 1px solid #d9d9d9;
        font-family: Arial;
        font-weight: bold;
        font-size: 16px;
        padding: 0 0 3px 0;
        margin: 1px 0 15px 0;
        color: #004275;
    }

.hitec-personal-info, .hitec-communications, .hitec-level-info {
    margin-bottom: 20px;
}

    .hitec-personal-info p, .hitec-communications p, .hitec-level-info p {
        border-bottom: 1px dotted #000;
        color: #b5a6a6;
        font-weight: bold;
    }

.hitec-button {
    float: right;
    margin-bottom: 20px;
}

.hitec-table-1 > tbody > tr > td {
    border: none;
}
/* TABLE */
.table > thead > tr > th {
    vertical-align: middle;
    background: #d2d2d2;
}

.table > tbody > tr > th {
    vertical-align: middle;
    font-weight: 400;
    font-size: 13px;
}

.table > thead:first-child > tr:first-child > th {
    /*background: #c3c3c3;*/
}

.hitec-table-3 > thead > tr > th {
    text-align: left;
}

.hitec-td-1 {
    background: #ffffff;
}

.hitec-td-2 {
    background: #F3F3F3;
}

.hitec-td-3 {
    background: #fff;
}

.hitec-td-4 {
    background: #fff;
}

.hitec-td-tkbTuan {
    background: #e7e7e7;
    font-weight: bold;
    text-align: center;
}

.hitec-td-tkbTuanHienTai {
    background: #f5f5f5;
}

.hitec-td-tkbSang, .hitec-td-tkbSang a {
    height: 30px;
    text-align: center;
    color: #000;
}

    .hitec-td-tkbSang a:hover {
        color: #AA4400;
    }

.hitec-td-tkbChieu, .hitec-td-tkbChieu a {
    height: 30px;
    text-align: center;
    color: #000;
}

.hitec-td-tkbToi, .hitec-td-tkbToi a {
    height: 30px;
    text-align: center;
    color: #000;
}
/*FOOTER*/
footer {
    margin-top: 5px;
    padding-top: 20px;
    background: #365f91;
    color: #fff;
}

    footer p {
        line-height: 10px;
    }

    footer a {
        color: #fff;
        text-decoration: none;
    }

        footer a:hover {
            color: #fff;
            text-decoration: underline;
        }
/*HOC KY TAC NGHIEP*/
.hitec-form-hocky {
    border: 1px solid #d9d9d9;
    padding: 5px;
    background: #f2f2f2;
    position: absolute;
    z-index: 9999;
    display: none;
    top: 20px;
    right: 0px;
}

a.hover {
    overflow: auto;
    display: block;
}

    a.hover:hover + div.hitec-form-hocky {
        display: block;
    }

div.hitec-form-hocky:hover {
    display: block;
}

.hitec-fieldset {
    margin: 5px 5px 15px 5px;
}

    .hitec-fieldset > legend {
        color: #808080;
        font-size: 13px;
        font-weight: bold;
        border-bottom: 1px dotted #ddd;
    }

.hitec-border-bottom-dotted {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #808080;
}

hitec-datepicker {
}
/* Style of width */
.hitec-w-25percent {
    width: 25%;
}

.hitec-w-50percent {
    width: 50%;
}

.hitec-w-75percent {
    width: 75%;
}

.hitec-w-100percent {
    width: 100%;
}

.hitec-w-95percent {
    width: 95%;
}

.unread {
    font-weight: bold;
}
